.form__button{
    margin: 150px 0 0;
    padding: 13px 0 15px;
    border: none;
    border-radius: 3px;
    background: #4285F4;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: all .3s;
}

.form__button:hover{
    opacity: 0.7;
}

@media screen and (max-width:320px){
    .form__button{
        margin: 240px 0 0;
        font-size: 12px;
        line-height: 15px;
    }
}