.banner__image{
    display: block;
    margin: 35px 0 0 auto ;
}

@media screen and (max-width:1000px){
    .banner__image{
        margin: 100px 0 25px;
    }
}

@media screen and (max-width:450px){
    .banner__image{
        max-width: 210px;
        margin: 30px 0 25px;
    }
}
