.movies-list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 33px 32px;
    margin-bottom: 61px;
}

@media screen and (max-width:950px){
    .movies-list{
        gap: 36px 28px;
    }
}

@media screen and (max-width:768px){
    .movies-list{
        margin-bottom: 80px;
    }
}

@media screen and (max-width:320px){
    .movies-list{
        gap: 20px 28px;
        margin-bottom: 87px;
    }
}