.header__list-container{
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

@media screen and (max-width:768px){
    .header__list-container{
        margin: auto 0 90px;
    }
}

@media screen and (max-width:320px){
    .header__list-container{
        margin: auto 0 45px;
    }
}

