.header__link{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: all .3s;
}

.header__link:hover{
    opacity: 0.7;
}

@media screen and (max-width:450px){
    .header__link{
        font-size: 10px;
    }
}