.form-title_profile{
    text-align: center;
    margin: 0 0 126px 0;
}

@media screen and (max-width:768px){
    .form-title_profile{
        margin: 230px 0 97px 0;
        
    }
}

@media screen and (max-width:320px){
    .form-title_profile{
        margin: 0 0 67px 0;
    }
}

