.movies-card{
    display: flex;
    flex-direction: column;
    max-width: 358px;
    width: 100%;
    background-color: #222222;
    border-radius: 10px;
    /* margin: 0 auto 0 0; */
}

.movies-card:last-child{
    margin: 0 auto 0 0;
}

@media screen and (max-width:1277px){
    .movies-card{
        margin: 0 auto;
    }
}

@media screen and (max-width:950px){
    .movies-card{
        max-width: 340px;
    }
}

@media screen and (max-width:450px){
    .movies-card{
        max-width: 300px;
    }
}