.not-found__subtitle{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin:6px 0 186px;
}

@media screen and (max-width:320px){
    .not-found__subtitle{
        font-size: 12px;
        line-height: 15px;
     margin:6px 0 286px;
    }
}