.about-me__image{
    margin: 0 9px 12px;
}

@media screen and (max-width:1000px){
    .about-me__image{
        margin: 0 0 0 50px;
    }
}

@media screen and (max-width:700px){
    .about-me__image{
        display: block;
        margin: 0 auto 40px;
        max-width: 300px;
    }
}

@media screen and (max-width:400px){
    .about-me__image{
        margin: 0 0 47px;
    }
}