.banner__content{
    max-width: 1140px;
    padding: 0 70px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: start;
}


@media screen and (max-width:1000px){
    .banner__content{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:320px){
    .banner__content{
        padding: 0;
    }
}