.movies-card__image{
    display: block;
    width: 358px;
    height: 200px;
    margin: 0 auto;
}

@media screen and (max-width:950px){
    .movies-card__image{
        width: 340px;
        height: 190px;
    }
}

@media screen and (max-width:450px){
    .movies-card__image{
        width: 300px;
        height: 168px;

    }
}

